@font-face {
    font-family: "Circular";
    src: url('/src/fonts/CircularSpotifyTxT-Light.ttf');
}

* {
    font-family: "Circular";
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: black;
}

main {
    background-color: rgb(18, 18, 18);
    border-radius: 1em;
    margin: 0.5em;
    min-height: 98vh;
    padding-left: 7em;
}

h3 {
    color: rgb(167, 167, 167);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#title {
    padding-top: 3em;
    padding-bottom: 0.5em;
}

.song {
    padding-left: 1em;
    display: flex;
}

.info {
    padding: 0.5em;
}

.artist {
    color: rgb(179, 179, 179);
}

#currently-playing {
    padding-bottom: 2em;
}